<h1>Sample App</h1>

<p>
  This is the home page for the <a href="http://www.railstutorial.org/#help"><em>Rails Tutorial help section<a/></em>
  <br>
  <br>
  To get help on this sample app, see <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial
  book</a></em> 
  </p>
